# development environments
.idea

# binaries
/build/

# test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# OS files
.DS_Store

# dependency directories
vendor/

# Go workspace file
go.work

# Data produced by unit tests
cmd/aida-sdb/trace-test/
