[submodule "carmen"]
	path = carmen
	url = https://github.com/Fantom-foundation/Carmen.git
[submodule "tosca"]
	path = tosca
	url = https://github.com/Fantom-foundation/Tosca.git
[submodule "sonic"]
	path = sonic
	url = https://github.com/Fantom-foundation/Sonic.git
