name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Set up Go 1.19
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Setup bazelisk
        uses: bazelbuild/setup-bazelisk@v2

      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
         path: "~/.cache/bazel"
         key: bazel

      - name: Check code formating
        run: diff -u <(echo -n)  <(find . -path ./carmen -prune -o  -name '*.go' -exec gofmt -d -s {} \;)

      - name: Build
        run: make

      - name: Test
        run: go test -v ./...

